<!-- Do not touch this file -->
<f:layout name="BeDefault" />

<f:section name="Main">

	<div class="module-body">

		<div class="container-fluid">

			<f:flashMessages />

			<h1>T3themes Phantom Theme for EXT:t3cms</h1>

			<div class="block-header">
			  <h2>See Live Demo by clicking this <f:link.action action="liveDemo" controller="Phantom"><strong>link</strong></f:link.action></h2>
			  <h2>Download <a href="/typo3conf/ext/t3themes_phantom/Initialisation/data.t3d" download><code>data.t3d</code></a> import file.</h2>
			</div>
			<!-- #END# Input -->

			<hr/>

			<br/>	
			<h1>Phantom - Content Elements</h1>

			<f:flashMessages />

			<div class="panel panel-info h3">
				<div class="panel-heading">
					Check out the TER, if there is an extension called "t3content_phantom".
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Tiles (Preview)
						</div>
						<div class="panel-body">
							<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce1.gif" alt="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce1.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><!-- Tiles --><section class="tiles">
		<article class="style2">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic07.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Ipsum</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
		<article class="style3">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic08.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Dolor</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
		<article class="style1">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic09.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Nullam</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
		<article class="style5">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic10.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Ultricies</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
		<article class="style6">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic11.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Dictum</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
		<article class="style4">
			<span class="image">
				<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/pic12.jpg" alt="" />
			</span>
			<a href="generic.html">
				<h2>Pretium</h2>
				<div class="content">
					<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				</div>
			</a>
		</article>
	</section></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Contact Form (Preview)
						</div>
						<div class="panel-body">
							<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce2.gif" alt="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce2.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><h2>Get in touch</h2>
	<form method="post" action="#">
	    <div class="field half first">
	        <input type="text" name="name" id="name" placeholder="Name" />
	    </div>
	    <div class="field half">
	        <input type="email" name="email" id="email" placeholder="Email" />
	    </div>
	    <ul class="actions">
	        <li><input type="submit" value="Send" class="special" /></li>
	    </ul>
	</form></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Social Icons (Preview)
						</div>
						<div class="panel-body">
							<img src="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce3.gif" alt="/typo3conf/ext/t3themes_phantom/Resources/Public/images/ContentElements/ce3.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><h2>Follow</h2>
	                                <ul class="icons">
	                                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
	                                    <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
	                                </ul></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

		</div>
	</div>

</f:section>
