<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <!-- Footer -->
    <f:switch expression="{t3themesConf.footerFullWidth}">
        <!-- Background > Container -->
        <f:case value="onlybg">
            <div style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor}',else:'#f6f6f6')};">
                <div class="container">

                    <f:render section="LayoutInner" arguments="{_all}" />

                </div>
            </div>
        </f:case>
        <f:case value="container">
            <!-- Background + Container -->
            <div style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor}',else:'#f6f6f6')};" class="container">

                <f:render section="LayoutInner" arguments="{_all}" />

            </div>
        </f:case>
        <f:case default="TRUE">
            <!-- Background (No Container) -->
            <div style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor}',else:'#f6f6f6')};">

                <f:render section="LayoutInner" arguments="{_all}" />

            </div>
        </f:case>
    </f:switch>

    <f:section name="LayoutInner">

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <f:if condition="{t3themesConf.colPos1}">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos1}'}" />
                    </f:if>
                </section>
                <section>

                    <f:if condition="{t3themesConf.colPos2}">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos2}'}" />
                    </f:if>

                </section>
                <ul class="copyright">
                    <li>
                        <f:if condition="{t3themesConf.headerLogoText}"><f:if condition="{t3themesConf.headerLogoText} != '_'"><!-- LogoText -->&copy; {t3themesConf.headerLogoText}.</f:if></f:if> <f:translate key="common.rightReserved" default="All rights reserved" /></li><li>Design: <a href="http://html5up.net">HTML5 UP</a>
                    </li>
                </ul>
            </div>
        </footer>

    </f:section>

</html>
