<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:render section="OverrideStyles" arguments="{t3themesConf:t3themesConf,data:data}" />

	<f:switch expression="{t3themesConf.headerFullWidth}">
		<f:case value="onlybg">
		<!-- Background > Container -->
			<div style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor}',else:'')}">
				<div class="inner">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</div>
		</f:case>
		<f:case value="container">
		<!-- Background + Container -->
			<div>
				<div style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor}',else:'')}" class="inner">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</div>
		</f:case>
		<f:case default="TRUE">
		<!-- Background (No Container) -->
			<div style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor}',else:'')}">
				<f:render section="LayoutInner" arguments="{_all}" />
			</div>
		</f:case>
	</f:switch>

	<!-- SECTIONS START -->
		<f:section name="LayoutInner">

			<!-- Header -->
			<header id="header">
				<div class="inner">
			        <f:if condition="{t3themesConf.headerLogo} != 'hide'">
			        	<f:switch expression="{t3themesConf.headerStyle}">
			        		<f:case default="true">
			        			<f:render section="Variant1" arguments="{_all}" />
			        		</f:case>
			        	</f:switch>
			        </f:if>
				</div>
			</header>

		</f:section>

		<f:section name="Variant1">

			<!-- Logo -->
			<f:if condition="{t3themesConf.headerLogoUrl}">
				<a href="/" class="logo">
					<span class="symbol">
						<img style="" src="{t3themesConf.headerLogoUrl}" alt="{t3themesConf.headerLogoUrl}" />
					</span>
					
					<f:if condition="{t3themesConf.headerLogoText}">
						<f:if condition="{t3themesConf.headerLogoText} != '_'">
						    <!-- LogoText --><span class="title">{t3themesConf.headerLogoText->f:format.raw()}</span>
						</f:if>
					</f:if>
				</a>
			</f:if>

			<!-- Nav -->
			<nav><ul><li><a href="#menu">Menu</a></li></ul></nav>

			<f:render section="HeaderContent" arguments="{_all}" />

		</f:section>

		<f:section name="HeaderContent">

			<!-- HEADER CONTENT / OFFCANVAS MENU -->
			<nav id="menu">
				<f:switch expression="{t3themesConf.headerDisplay}">
					<f:case value="hidenav"><!-- Nothing --></f:case>
					<f:case default="TRUE">
						<!-- SHOW DEFAULT THEME NAVIGATION -->
						<h2>Menu</h2>
						<f:render partial="Navigation/Main" arguments="{_all}" />
					</f:case>
				</f:switch>
			</nav>

		</f:section>

		<f:section name="OverrideStyles">
			<f:if condition="{t3themesConf.headerTextColor}"><style type="text/css">.headerC{data.uid},.headerC{data.uid} a,.headerC{data.uid} p{color:{t3themesConf.headerTextColor};}</style></f:if>
		</f:section>
	<!-- SECTIONS END -->

</html>
