<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{mainnavigation}">
        <ul>
            <f:for each="{mainnavigation}" as="navitem">
            <f:if condition="{navitem.children}">
                <f:then>
                    <f:render section="NavItemDropdown" arguments="{item:navitem}" />
                </f:then>
                <f:else>
                    <f:render section="NavItem" arguments="{item:navitem}" />
                </f:else>
            </f:if>
            </f:for>
        </ul>
    </f:if>

    <f:section name="NavItem">
        <li class="{f:if(condition:item.active,then:'fh5co-active active current')}">
            <a class="" href="{item.link}">{item.title}</a>
        </li>
    </f:section>

    <f:section name="NavItemDropdown">
        <li class="{f:if(condition:item.active,then:'fh5co-active active current')} dropdown">
            <a class="" href="{item.link}">{item.title}</a>
            <ul>
                <f:for each="{item.children}" as="subpage">
                <f:if condition="{subpage.children}">
                    <f:then>
                        <f:render section="NavItemDropdown" arguments="{item:subpage}" />
                    </f:then>
                    <f:else>
                        <f:render section="NavItem" arguments="{item:subpage}" />
                    </f:else>
                </f:if>
                </f:for>
            </ul>
        </li>
    </f:section>

</html>
