<f:spaceless>

    <div id="wrapper">

        <!-- Header -->
        <f:if condition="{t3themesConf.headerDisplay} != 'hide'">
            <f:then>
                <f:render partial="Structure/Header" arguments="{_all}" />
            </f:then>
            <f:else>
                <!-- MAYBE RENDER SOMETHING INSTEAD OF THE HEADER.. -->
            </f:else>
        </f:if>

        <!-- ABOVE PAGE CONTENT -->
        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent',data:'{pageUid:data.uid,colPos:3}')}">
            {f:cObject(typoscriptObjectPath:'lib.dynamicContent',data:'{pageUid:data.uid,colPos:3}')}
        </f:if>

        <!-- Main -->
        <div id="main">
            <f:switch expression="{t3themesConf.pageFullWidth}">
                <f:case value="container">
                    <!-- Container --><div class="inner">
                    <!--TYPO3SEARCH_begin--><f:render section="Main" arguments="{_all}" /><!--TYPO3SEARCH_end--></div>
                </f:case>
                <f:case default="TRUE">
                    <!-- No Container, we must keep class .inner because of given css. --><div class="inner" style="width:100%;max-width:none;">
                    <!--TYPO3SEARCH_begin--><f:render section="Main" arguments="{_all}" /><!--TYPO3SEARCH_end--></div>
                </f:case>
            </f:switch>
        </div>

        <f:if condition="{t3themesConf.footerDisplay} != 'hide'">
            <f:render partial="Structure/Footer" arguments="{_all}" />
        </f:if>

    </div>

</f:spaceless>
